<a href="https://colab.research.google.com/github/mitsu666/DataScienceLecture/blob/master/DataScienceLecture2_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#6.関数

In [0]:
#以下のリストが与えられとする
F = [3,5,7,9]
M = [5000,15000,3000,12000]

#関数を使わない場合
for f,m in zip(F,M):
  print ('購買頻度:{0}回,購買金額:{1}円'.format(f,m))
  
  if (f<=5) & (m<=5000):
    print ('③')
  elif (f>5) & (m<=5000):
    print ('①')
  elif (f>5) & (m>5000):
    print ('②')
  else:
    print ('④')

購買頻度:3回,購買金額:5000円
③
購買頻度:5回,購買金額:15000円
④
購買頻度:7回,購買金額:3000円
①
購買頻度:9回,購買金額:12000円
②

In [0]:
#関数を使う場合
#関数を一度定義してしまうrfmという名前で定義する
def rfm(f,m):
  if (f<=5) & (m<=5000):
    return ('③')
  elif (f>5) & (m<=5000):
    return ('①')
  elif (f>5) & (m>5000):
    return ('②')
  else:
    return ('④')

In [0]:
#一度定義した関数は何度で呼び出し、引数を変えるだけで出力が変わる  
#f=9,m=4500
print (rfm(9,4500))
#f=3,m=10000
print (rfm(3,10000))

①
④

In [0]:
#以下のリストが与えられとする
F = [3,5,7,9]
M = [5000,15000,3000,12000]

#関数を使う場合
for f,m in zip(F,M):
  print ('購買頻度:{0}回,購買金額:{1}円'.format(f,m))
  print (rfm(f,m))

購買頻度:3回,購買金額:5000円
③
購買頻度:5回,購買金額:15000円
④
購買頻度:7回,購買金額:3000円
①
購買頻度:9回,購買金額:12000円
②

##6.1. 引数がないタイプ

In [0]:
#引数を取らない関数を定義して呼び出す。
def do_nothing():
  pass

#何もしない
do_nothing()

In [0]:
#引数がないが１個の単語を出力する別の関数を定義する。
def hello():
  print('hello world')
  
hello()

hello world

##6.2. 引数があるタイプ

In [0]:
#2つの整数を引数として商と余りを返す関数
def mod(a,b):
   return(a // b,a%b)

print (mod(5,2))

print(do_nothing())

(2, 1)
None

In [0]:
#引数として頻度閾値f_t,購買金額閾値m_tを追加
def rfm(f,m,f_t,m_t):
  if (f<=f_t) & (m<=m_t):
    return ('③')
  elif (f>f_t) & (m<=m_t):
    return ('①')
  elif (f>f_t) & (m>m_t):
    return ('②')
  else:
    return ('④')
  
rfm(3,1000,2500,5700)

'③'

##6.3 様々な引数タイプ*

###6.3.1 位置引数

In [0]:
#引数の順序をf,mとして定義
def rfm(f,m):
  if (f<=5) & (m<=5000):
    return ('③')
  elif (f>5) & (m<=5000):
    return ('①')
  elif (f>5) & (m>5000):
    return ('②')
  else:
    return ('④')

In [0]:
f=4;m=9000
#定義と同じ順序で変数を渡す
print (rfm(f,m))
#定義と逆で渡す
print (rfm(m,f))

④
①

###6.3.2 キーワード引数

In [0]:
#以下のように渡す
print (rfm(f=f,m=m))
#順序不同
print (rfm(m=m,f=f))

④
④

In [0]:
#引数m=4000として定義
def rfm(f,m=4000):
  if (f<=5) & (m<=5000):
    return ('③')
  elif (f>5) & (m<=5000):
    return ('①')
  elif (f>5) & (m>5000):
    return ('②')
  else:
    return ('④')

f=4  
print (rfm(f))

③