<a href="https://colab.research.google.com/github/mitsu666/DataScienceLecture/blob/master/DataScienceLecture2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#3. 基本オブジェクト

##3.1 オブジェクトの作成

In [0]:
# 118を代入
a=118

# aの値を出力する
print(a)

# bにaを代入し、118が入っているオブジェクトの箱にbも貼り付ける。
b=a

# bの値を出力する。
print(b)

118
118

In [0]:
#aのタイプは？
print (type(a))

#bのタイプは?
print (type(b))

#タイプ関数に直接値を入れて調べる
print (type(58))

<class 'int'>
<class 'int'>
<class 'int'>

In [0]:
#浮動小数点型
print (type(99.9))

#文字列型
print (type('abc'))

<class 'float'>
<class 'str'>

##3.2 変数名

## 3.3 数値オブジェクト

### 3.3.1 整数

In [0]:
#小数点なし
print (5)

#0も使える。
print (0)

#負の整数を指定するには数字の前に−記号を挿入する。
print (-123)

5
0
-123

In [0]:
#足し算 加算
5+9

14

In [0]:
#引き算1 減算
100-7

93

In [0]:
#引き算2 減算
4-10

-6

In [0]:
#足し算・引き算 加算・減算
4+3-2-1+6

10

In [0]:
#数値と演算子の間にスペースを入れる必要はないが入れたほうが読みやすい。
5+9 + 3

17

In [0]:
#乗算
print (2*8)

print ((-3)*8)

print (-1*-100)

#かっこは普通の数学のかっこと同じ意味なので以下は上の式と同じ答え
print ((-1)*(-100))

#加算・乗算 ()ないが先に計算するのは小学生でやった
print ((4+5)*(100))

print (4+5*100)

16
-24
100
100
900
504

In [0]:
#整数を整数で割るときでも、/を使うと、結果は浮動小数点数で返される。
9/5

1.8

In [0]:
#切り捨ての整数徐算は整数の結果を返し、余りは捨ててしまう。
9//5

1

In [0]:
#0で割ると例外が起きる。0で割ることはできない。
5/0

ZeroDivisionError: ignored

In [0]:
#20191010というように日付が整数で表現されていることは多い。ここから年だけ取り出す。
print (20191010//10000)
#月を取り出す
print ((20191010-(20191010//10000)*10000)//100)

2019
10

In [0]:
#変数に整数を代入し計算する
a=95
print (a)

95

In [0]:
#3引く
a=a-3

#3引かれている
print (a)

#再度3引く
a=a-3

print (a)

92
89

In [0]:
#a -= 3  は　　a = a - 3　と同じ意味になる。
a=95
a -= 3
a

92

In [0]:
#　次のコードは a = a + 8と同じ意味になる。
a=92
a += 8
a

100

In [0]:
#最初に値をいれないとエラーになる
i+=1

NameError: ignored

In [0]:
#0からカウントアップ
i = 0
i += 1
print (i)
i += 1
print (i)
i += 1
print (i)

1
2
3

In [0]:
#0からカウントダウン
i = 0
i -= 1
print (i)
i -= 1
print (i)
i -= 1
print (i)

-1
-2
-3

In [0]:
#%がふたつの数値の間に入っているときには、第１の数値を第２の数値で割ったときの剰余を返す。

23 % 5

#商と余りの関係

print (5*(23 // 5) + 23 % 5)

23

In [0]:
print (2 + ( 3 * 4 )/6)

4.0

##3.2 BOOLE値型オブジェクト

In [0]:
#ブール値のFalseは、整数、浮動小数点数と混ぜて計算するときには、0または0.0として取り扱われる。

False + 1.0

1.0

In [0]:
#ブール値のTrueは１または1.0として取り扱われる。

True + 99

100

In [0]:
#bool値型同士
True +False

1

##3.3 文字列オブジェクト

In [0]:
#シングルクォーテーション
print ('東京')
#ダブルクオーテーション
print ("TOKYO")

東京
TOKYO

In [0]:
#str()関数を使えば、Pythonのほかのデータ型を文字列に変換できる。
#整数to文字列
print (str(100))
#有理数to文字列
print (str(3.15))
#bool to 文字列
print (True)

100
3.15
True

###3.3.1 ＋による連結

In [0]:
#＋を使えば、文字列変数を連結することができる。
print ('東京都' + '渋谷区')

#リテラル文字列（ベタ打ち）の場合は、順に並べるだけで連結できる（文字列変数はできない）。
print ('東京都'  '渋谷区')

東京都渋谷区
東京都渋谷区

In [0]:
#文字列を変数に代入
a = '東京都'
b = '渋谷区'

print (a)
print (b)

#結合
print (a+b)

#結合したものを別の変数に代入
c=a+b
print (c)

東京都
渋谷区
東京都渋谷区
東京都渋谷区

###3.3.2 ＊による繰り返し

In [0]:
#乗算で繰り返す
print (2*'東京都')

#結合して3倍する
print (3*('東京都'+'渋谷区'))

# \n(バックスラッシュn)で改行できる windowsは\マーク
print (3*('東京都'+'渋谷区 \n'))

東京都東京都
東京都渋谷区東京都渋谷区東京都渋谷区
東京都渋谷区
東京都渋谷区
東京都渋谷区

###3.3.3 番地指定による文字の抽出

In [0]:
#先頭の文字は0番地。末尾は−１番地と指定しても取得できる。
letters = 'あいうえお'
print (letters[0])
print (letters[1])
print (letters[-1])

print (letters[4])

a = '東京都'+'渋谷区'
print (a)

print (a[0])

あ
い
お
東京都渋谷区
東

In [0]:
#　[ : ]・・・先頭から末尾までのシーケンス全体を抽出する。

letters='東京都渋谷区YGP'
print (letters[:])

#　[start:]・・・3番地から最後までのシーケンスを抽出する。

print (letters[3:])

#　[:end]・・・先頭からend-1番地までのシーケンスを抽出する。

print (letters[:3])

#　[start:end]・・・start番地からend-1番地までのシーケンスを抽出する。

print (letters[3:7])

#　最後の3文字を取り出す。

print (letters[-3:])

#　番地2から末尾より4文字手前までを切り取る。

print (letters[2:-3])

東京都渋谷区YGP
渋谷区YGP
東京都
渋谷区Y
YGP
都渋谷区

In [0]:
#　[start:end:step]・・・step文字ごとにstart番地からend-1番地までのシーケンスを抽出する。
#　先頭から末尾までの７文字ごとに文字を取り出す。

print (letters[::7])

#　番地1から10まで、2文字ごとに取り出す。

print (letters[1:10:2])

東G
京渋区G

###3.3.4 LEN()による長さの取得

In [0]:
#len()関数は、文字列内の文字数を数える。
letters='東京都渋谷区YGP'
print (len(letters))

#からの文字列の長さは0
empty=""
len(empty)

9

0

###3.3.5 SPLIT()による分割

In [0]:
#　split() ・・・セパレータに基づいて文字列を分割し、部分文字列のリストを作る。
address =  "東京都 渋谷区 YGP タワー 28F"
#半角スペースがセパレータ
print (address.split( ' ' ))

['東京都', '渋谷区', 'YGP', 'タワー', '28F']

In [0]:
#長さ求めるlen関数
print (len(address))
#str(文字列オブジェクトのsplit関数)
print (address.split(" "))
#str.splitで書く
print (str.split(address," "))

19
['東京都', '渋谷区', 'YGP', 'タワー', '28F']
['東京都', '渋谷区', 'YGP', 'タワー', '28F']

###3.3.6 多彩な文字列操作

In [0]:
#python wikipedia 冒頭のパラグラフ
python_wiki='''Python is an interpreted, high-level, general-purpose \
programming language.
Created by Guido van Rossum and first released in 1991, Python's design philosophy 
emphasizes code readability with its notable use of significant whitespace. 
Its language constructs and object-oriented approach aim to help programmers 
write clear,logical code for small and large-scale projects.'''

#先頭から20
python_wiki[:20]

'Python is an interpr'

In [0]:
#長さ
len(python_wiki)

375

In [0]:
#指定した文字列が含まれている場所
word = 'language'
print (python_wiki.find(word))

66

In [0]:
#含まれていない場合　-1 を返す
print (python_wiki.find('パイソン'))

-1

In [0]:
#複数ある場合 最初の番地を返す。
#ゲティスバーグ演説「人民の人民による人民のための政治」
gettysburg = "government of the people, by the people,\
 for the people"
print (gettysburg.find('people'))

18

In [0]:
#複数ある場合最後に出てきた文字列の番地を返す
gettysburg.rfind('people')

49

In [0]:
#何回当該文字列が出現したか
gettysburg.count('people')

3

In [0]:
#解答1-1
#findとスライスで取得
#find で @の番地を取得
mail ='urusuhibata@crosstab.co.jp'
banti = mail.find('@')
print ('番地:',banti)
#スライスで番地以降の文字列取得 [番地+1:](番地以降なので+1)
print (mail[banti+1:])

番地: 11
crosstab.co.jp

In [0]:
#解答1-2 リスト使用する
mail = 'urusuhibata@crosstab.co.jp'
#splitで取得
print (mail.split('@'))
#かえってきたリストの1番目を指定
print (mail.split('@')[1])

['urusuhibata', 'crosstab.co.jp']
crosstab.co.jp

In [0]:
#解答2-1
addres = "〒150-6018 東京都渋谷区恵比寿４丁目２０ ガーデンプレイス"
#最初のスペースがある番地取得
first = addres.find(" ")
#最後のスペースがある番地取得
last = addres.rfind(" ")
print ('最初の番地:{}'.format(first),'最後の番地:{}'.format(last))
#スライスで郵便番号取得
t_code = addres[:first]
print (t_code)
#建物名
tower = addres[last+1:]
print (tower)
#結合
print (t_code + tower)

最初の番地:9 最後の番地:24
〒150-6018
ガーデンプレイス
〒150-6018ガーデンプレイス

###3.3.7 REPLACE()による置換

In [0]:
#　replace()・・・部分文字列を置換えられる。
addres = "〒150-6018 東京都渋谷区恵比寿４丁目２０ ガーデンプレイス"
#対象文字列.replace(置換したい文字列,置換後の文字列)
print (addres.replace('ガーデンプレイス' , 'YGP'))

〒150-6018 東京都渋谷区恵比寿４丁目２０ YGP

###3.3.8* その他、大文字と小文字など

In [0]:
addres = "  〒150-6018 東京都渋谷区恵比寿４丁目２０ ガーデンプレイス  "
#両端から半角スペース除く
print (addres.strip( ' ' ))

〒150-6018 東京都渋谷区恵比寿４丁目２０ ガーデンプレイス

In [0]:
#英文字の場合先頭の単語をタイトルケース（先頭文字だけ大文字）にする。
python_wiki='''Python is an interpreted, high-level, general-purpose programming language.
Created by Guido van Rossum and first released in 1991, Python's design philosophy 
emphasizes code readability with its notable use of significant whitespace. 
Its language constructs and object-oriented approach aim to help programmers 
write clear,logical code for small and large-scale projects.'''

python_wiki.capitalize()

"Python is an interpreted, high-level, general-purpose programming language.\ncreated by guido van rossum and first released in 1991, python's design philosophy \nemphasizes code readability with its notable use of significant whitespace. \nits language constructs and object-oriented approach aim to help programmers \nwrite clear,logical code for small and large-scale projects."

In [0]:
#　全ての単語の先頭文字を大文字にする。
print (python_wiki.title())

#　全ての文字を大文字にする。
print (python_wiki.upper())

#　全ての文字を小文字にする。
print (python_wiki.lower())

#　大文字小文字を逆にする。
print (python_wiki.swapcase())

Python Is An Interpreted, High-Level, General-Purpose Programming Language.
Created By Guido Van Rossum And First Released In 1991, Python'S Design Philosophy
Emphasizes Code Readability With Its Notable Use Of Significant Whitespace.
Its Language Constructs And Object-Oriented Approach Aim To Help Programmers
Write Clear,Logical Code For Small And Large-Scale Projects.
PYTHON IS AN INTERPRETED, HIGH-LEVEL, GENERAL-PURPOSE PROGRAMMING LANGUAGE.
CREATED BY GUIDO VAN ROSSUM AND FIRST RELEASED IN 1991, PYTHON'S DESIGN PHILOSOPHY
EMPHASIZES CODE READABILITY WITH ITS NOTABLE USE OF SIGNIFICANT WHITESPACE.
ITS LANGUAGE CONSTRUCTS AND OBJECT-ORIENTED APPROACH AIM TO HELP PROGRAMMERS
WRITE CLEAR,LOGICAL CODE FOR SMALL AND LARGE-SCALE PROJECTS.
python is an interpreted, high-level, general-purpose programming language.
created by guido van rossum and first released in 1991, python's design philosophy
emphasizes code readability with its notable use of significant whitespace.
its language constructs and object-oriented approach aim to help programmers
write clear,logical code for small and large-scale projects.
pYTHON IS AN INTERPRETED, HIGH-LEVEL, GENERAL-PURPOSE PROGRAMMING LANGUAGE.
cREATED BY gUIDO VAN rOSSUM AND FIRST RELEASED IN 1991, pYTHON'S DESIGN PHILOSOPHY
EMPHASIZES CODE READABILITY WITH ITS NOTABLE USE OF SIGNIFICANT WHITESPACE.
iTS LANGUAGE CONSTRUCTS AND OBJECT-ORIENTED APPROACH AIM TO HELP PROGRAMMERS
WRITE CLEAR,LOGICAL CODE FOR SMALL AND LARGE-SCALE PROJECTS.

In [0]:
#表記ゆれ
a = 'Python 3.7'
b = 'PYTHON 3.7'

#同じか？
print ('同じかどうか:{}'.format(a==b))

#小文字統一
print (a.lower(),b.lower())

同じかどうか:False
python 3.7 python 3.7

##3.4 型の変換*

###3.4.1 整数に変換

In [0]:
#int()関数で整数に変換 intはintegerの略で整数の意味である
int(True)

1

In [0]:
#Falseも変換
int(False)

0

In [0]:
#　浮動小数点数を整数に変換すると、小数点以下の部分が単純に切り捨てられる。
int(98.6)

98

In [0]:
#　整数を表した文字列はその整数に変換可能
print (int('99'))

print (int('-23'))

99
-23

In [0]:
#　int()は以下の文字列には対応できないためエラーがでる
int('YGP33')

ValueError: ignored

In [0]:
#浮動小数点表示の文字列も無理
int('98.6')

ValueError: ignored

###3.4.2 浮動小数点型に変換

In [0]:
#　ほかのデータ型の値をfloatに変換するにはfloat() 関数を使う。
print (float(True))

print (float(False))

#　整数をfloatに変換する。
float(98)

#　有効なfloatになるような文字列（整数、符号、小数点またはeの後ろに指数が続くもの）も変換できる。
float('99.8')

1.0
0.0

99.8