<a href="https://colab.research.google.com/github/mitsu666/DataScienceLecture/blob/master/DataScienceLecture2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#4.リスト・タプル・辞書・集合

##4.1リスト

###4.1.1 リスト作成

In [0]:
#　リストは0個以上の要素をそれぞれカンマで区切り、全体を角カッコで囲んで作る。
#空のリスト
empty_list1=[ ]
print (empty_list1)

[]

In [0]:
#要素を定義したリスト
computer_language=['python','ruby','PHP','javascript','Perl']
pref=['東京','神奈川','千葉']
print (computer_language)
print (pref)

['python', 'ruby', 'PHP', 'javascript', 'Perl']
['東京', '神奈川', '千葉']

In [0]:
#　list()関数で空リストを作ることもできる。
empty_list2=()
print (list(empty_list2))

[]

In [0]:
#文字列を１文字ごとの文字列リストに変換する。
print (list('Python'))

#クリステル風に
print (list('おもてなし'))

['P', 'y', 't', 'h', 'o', 'n']
['お', 'も', 'て', 'な', 'し']

In [0]:
#　タプルをリストに変換する。(あとで習うが()で囲まれたものをタプルと呼ぶ)
tuple_1=('Python','Perl','PHP')
list(tuple_1)

['Python', 'Perl', 'PHP']

In [0]:
#文字列split()はもう学んだ。文字列を分割してリストにすることができる。
datetime='2019/10/25'
datetime.split('/')

['2019', '10', '25']

In [0]:
#　元の文字列に複数のセパレータ文字列が連続している部分があるときには、リスト要素として空文字列が作られる。
splitme='2019//25'
splitme.split('/')

#//で分割
splitme.split('//')

['2019', '25']

###4.1.2 [番地]を使って要素の取り出し

In [0]:
#　番地を指定すればリストからも個々の要素を取り出せる。
pref=['東京','神奈川','埼玉']
print (pref[0])
print (pref[1])
print (pref[2])

東京
神奈川
埼玉

In [0]:
#負の番地を使えば、末尾から逆に数えていくこともできる。
print (pref[-1])
print (pref[-2])
print (pref[-3])

埼玉
神奈川
東京

###4.1.3 リストのリスト

In [0]:
#　リストの中身
yamanote = ['恵比寿','目黒','大崎','五反田']
hibiya = ['中目黒','恵比寿','広尾']
saikyo = ['恵比寿','品川','東京']
all_station=[yamanote,hibiya,saikyo]

print (all_station)

[['恵比寿', '目黒', '大崎', '五反田'], ['中目黒', '恵比寿', '広尾'], ['恵比寿', '品川', '東京']]

In [0]:
#同様に0番地でアクセスすると山手線リストが取得できる
print (all_station[0])
#1番地目
print (all_station[1])
#2番地目
print (all_station[2])

['恵比寿', '目黒', '大崎', '五反田']
['中目黒', '恵比寿', '広尾']
['恵比寿', '品川', '東京']

In [0]:
#0番地目の0番地目
print (all_station[0][0])
#2番地目の1番地目
print (all_station[2][1])

恵比寿
品川

###4.1.4 番地指定による要素の書き換え

In [0]:
#大崎を高輪ゲートウェイに変更
# 番地指定（オフセット）でリスト要素の値を書き換えることもできる。
yamanote = ['恵比寿','目黒','大崎','五反田']
yamanote[2]='高輪ゲートウェイ'
print (yamanote)

['恵比寿', '目黒', '高輪ゲートウェイ', '五反田']

###4.1.5 要素の追加や削除

In [0]:
#　append()で末尾にひとつずつ要素を追加できる。
yamanote = ['恵比寿','目黒','大崎','五反田']
yamanote.append('高輪ゲートウェイ')
print (yamanote)

['恵比寿', '目黒', '大崎', '五反田', '高輪ゲートウェイ']

In [0]:
#extend()でふたつのリストをひとつにまとめることができる。
toyoko = ['代官山','渋谷']
fukutoshin =['原宿','北参道','新宿']
#東横線に副都心線をつなげる
toyoko.extend(fukutoshin)
print (toyoko)

#＋＝を使ってリストをまとめることができる。
toyoko = ['代官山','渋谷']
fukutoshin =['原宿','北参道','新宿']
#東横線に副都心線をつなげる
toyoko += fukutoshin
print (toyoko)

#append()はリストの追加。
toyoko = ['代官山','渋谷']
fukutoshin =['原宿','北参道','新宿']
toyoko.append(fukutoshin)
print (toyoko)

['代官山', '渋谷', '原宿', '北参道', '新宿']
['代官山', '渋谷', '原宿', '北参道', '新宿']
['代官山', '渋谷', ['原宿', '北参道', '新宿']]

In [0]:
#　リストのオフセットを指定し、その前に要素を追加したいときには、insert()を使う。
#　append()はリストの末尾にしか要素を追加できない。
toyoko=['自由が丘','学芸大学','中目黒']
toyoko.insert(1,'都立大学')
print (toyoko)

['自由が丘', '都立大学', '学芸大学', '中目黒']

In [0]:
#急行停車駅
toyoko = ['自由が丘', '都立大学', '学芸大学', '中目黒']
#都立大学は急行とまらない
del toyoko[1]
print (toyoko)

['自由が丘', '学芸大学', '中目黒']

In [0]:
#　remove()を使うと値を指定して要素を削除することができる。
#急行停車駅
toyoko = ['自由が丘', '都立大学', '学芸大学', '中目黒']
#都立大学は急行とまらない
toyoko.remove('都立大学')
print (toyoko)

['自由が丘', '学芸大学', '中目黒']

###4.1.6 その他のリスト操作

In [0]:
toyoko = ['自由が丘', '都立大学', '学芸大学', '中目黒']
print (toyoko.index('都立大学'))

1

In [0]:
toyoko = ['自由が丘', '都立大学', '学芸大学', '中目黒']
print ('都立大学' in toyoko)
print ('大岡山' in toyoko)

True
False

In [0]:
#count()・・・特定の値がリスト内に何個含まれているのか数える。あまり使わない
gender = ['M','F','M','F','F','F']
gender.count('M')

2

In [0]:
#文字列を分解して単語をカウントする
python_wiki='''Python is an interpreted, high-level, general-purpose programming language.
Created by Guido van Rossum and first released in 1991, Python's design philosophy 
emphasizes code readability with its notable use of significant whitespace. 
Its language constructs and object-oriented approach aim to help programmers 
write clear,logical code for small and large-scale projects.'''
letters = python_wiki.split(' ')

#'Python'が何回出現するか
print (letters.count('Python'))

#不定冠詞'a'が何回出現するか
print (letters.count('a'))

1
0

In [0]:
#数値要素リスト
height = [254,222,302]
sorted_height=sorted(height)
print (sorted_height)

#　リスト関数のsort()を呼び出すと、リスト自体が書き換えられる。
height.sort()
print (height)

#　reverse=True引数を追加すれば降順になる。

N=[8,1,2,3.0,1.5,5]
N.sort(reverse=True)
print (N)

[222, 254, 302]
[222, 254, 302]
[8, 5, 3.0, 2, 1.5, 1]

In [0]:
toyoko = ['自由が丘', '都立大学', '学芸大学', '中目黒']
print (len(toyoko))

4

In [0]:
#単語数調べる
#文字列を分解して単語をカウントする
python_wiki='''Python is an interpreted, high-level, general-purpose programming language.
Created by Guido van Rossum and first released in 1991, Python's design philosophy 
emphasizes code readability with its notable use of significant whitespace. 
Its language constructs and object-oriented approach aim to help programmers 
write clear,logical code for small and large-scale projects.'''
#splitしてリストにする
letters = python_wiki.split(' ')
print (letters)
#単語数を調べる
print (len(letters))

['Python', 'is', 'an', 'interpreted,', 'high-level,', 'general-purpose', 'programming', 'language.\nCreated', 'by', 'Guido', 'van', 'Rossum', 'and', 'first', 'released', 'in', '1991,', "Python's", 'design', 'philosophy', '\nemphasizes', 'code', 'readability', 'with', 'its', 'notable', 'use', 'of', 'significant', 'whitespace.', '\nIts', 'language', 'constructs', 'and', 'object-oriented', 'approach', 'aim', 'to', 'help', 'programmers', '\nwrite', 'clear,logical', 'code', 'for', 'small', 'and', 'large-scale', 'projects.']
48

In [0]:
#201904 201910までのファイル名を作成する
start = 201904 
#空のリストを作成
list1 = [] 
#for分で同じ内容を6回回す
for i in range(6):
  #1月ずつ増やす
  start += 1
  #文字列に直して、crm_の文字を前に結合するリストに順番にアペンドする
  list1.append('crm_'+str(start))

#年月ファイルリスト  
print (list1)

['crm_201905', 'crm_201906', 'crm_201907', 'crm_201908', 'crm_201909', 'crm_201910']

##4.2 タプル

###4.2.1 タプルの作成

In [0]:
#　空タプル
empty_tuple=()
empty_tuple

()

In [0]:
#　１個以上の要素を持つタプルは、ここの要素をカンマで区切っていく。
#　要素が１個のタプルも末尾にカンマをつけて作る。

one_station='恵比寿',
one_station

('恵比寿',)

In [0]:
#　要素が複数ある場合には、全ての要素の後ろにカンマをつける。
all_station=('恵比寿','渋谷','広尾')
print (all_station)

('恵比寿', '渋谷', '広尾')

In [0]:
#　タプルを使えば、一度に複数の変数を代入できる。
param=('height','weight','bmi')
a , b, c = param 

print (a)
print (b)
print (c)

height
weight
bmi

In [0]:
#　タプルを使えば、一時変数を使わずにひとつの文で値を交換できる。
a = 'a'
b ='b'
b,a =a,b
print (a)
print (b)

b
a

In [0]:
toyoko=['渋谷','代官山','中目黒']
tuple(toyoko)

('渋谷', '代官山', '中目黒')

In [0]:
#後で学ぶがユーザ定義関数を作成し戻り値を複数にする
def func(num,divide):
  #numをdivideで割った商と余りを返す
  return (num // divide,num % divide)

print (func(10,3))

#アンパック
a , b = func(10,3)
#商とあまりの関係
print (a*3+b)

(3, 1)
10

##4.3.辞書

###4.3.1 辞書の作成

In [0]:
#辞書を作るには、key/valueのペアをカンマで区切って並べ、波カッコで囲む。
# バックスラッシュ \　は改行であること注意
#辞書の定義は改行して見やすくする

capital={"日本":"東京", \
         "アメリカ":"ワシントン",
         "韓国":"ソウル",
         "イギリス":"ロンドン"}
capital

{'アメリカ': 'ワシントン', 'イギリス': 'ロンドン', '日本': '東京', '韓国': 'ソウル'}

In [0]:
#dict()関数を使えば、ふたつの値のシーケンスを辞書に変換できる。
#2要素リストを複数ならべたリストを作成

capital_l =[['日本','東京'],['アメリカ','ワシントン'],['韓国','ソウル']]
capital = dict(capital_l)
print (capital)

{'日本': '東京', 'アメリカ': 'ワシントン', '韓国': 'ソウル'}

In [0]:
#2字の文字列のリスト 使っているのを見たことない
lot = ['A1','B2','C3']
dict(lot)

{'A': '1', 'B': '2', 'C': '3'}

In [0]:
#2字の文字列のタプル 同様にない
lot = ('A1','B2','C3')
dict(lot)

{'A': '1', 'B': '2', 'C': '3'}

###4.3.2 要素の変更・追加・削除

In [0]:
#NPB セリーグの監督 keyが所属チームで valueが監督名
baseball = {
    'YG':'HARA',
    'YB':'LAMILEZ',
    'YS':'OGAWA',
    'CD':'YODA',
    'HT':'YANO',
    'HC':'OGATA',
}

print (baseball)

{'YG': 'HARA', 'YB': 'LAMILEZ', 'YS': 'OGAWA', 'CD': 'YODA', 'HT': 'YANO', 'HC': 'OGATA'}

In [0]:
#広島カープは監督交代
baseball['HC'] = 'SASAOKA'
#ヤクルトも交代
baseball['YS'] = 'TAKATSU'
print (baseball)

{'YG': 'HARA', 'YB': 'LAMILEZ', 'YS': 'TAKATSU', 'CD': 'YODA', 'HT': 'YANO', 'HC': 'SASAOKA'}

In [0]:
#パリーグ2監督を追加
others = {'SL':'TUJI','SH':'KUDO'}
baseball.update(others)
print (baseball)

{'YG': 'HARA', 'YB': 'LAMILEZ', 'YS': 'TAKATSU', 'CD': 'YODA', 'HT': 'YANO', 'HC': 'SASAOKA', 'SL': 'TUJI', 'SH': 'KUDO'}

In [0]:
#西部の監督除く
del baseball['SL']
print (baseball)

{'YG': 'HARA', 'YB': 'LAMILEZ', 'YS': 'TAKATSU', 'CD': 'YODA', 'HT': 'YANO', 'HC': 'SASAOKA', 'SH': 'KUDO'}

In [0]:
baseball.clear()
print (baseball)

{}

In [0]:
import pandas as pd
df = pd.DataFrame({"height":[178,154,165],
              "weight":[65,43,56]})

#データフレーム
print (df)
#heightの最大値、weightの最小値を計算する
#カラムをkeyとして適用する関数をvaluesとする辞書を作成
dic = {'height':max,
       'weight':min}

for k,v in dic.items():
  print (k,v(df.loc[:,k]))

   height  weight
0     178      65
1     154      43
2     165      56
height 178
weight 43