<a href="https://colab.research.google.com/github/mitsu666/DataScienceLecture/blob/master/DataScienceLecture2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#5. 制御構造

##5.1. IF ,ELSE,ELIF

###5.1.1 IF の基本構文

In [0]:
#if 大小比較
age = 22
#20歳以上かどうか判定
if age>=20:
  print ('成人年齢') #TABあけてます。
  
#if 同じかどうか
if age==20:
  print ('20歳です') #TABあけてます。

成人年齢

In [0]:
# if 
hantei = True
if hantei:
  print ('正しい')
else:
  print ('正しくない')
  
age =24
if age>20:
  print('成人')
else:
  print('未成年')

正しい
成人

In [0]:
#ifを入れ子
if hantei:
  if age>=20:
    print('正しい成人')
  else:
    print('正しくない成人')
    
# True False は if hantei==Trueと書く必要がない
# 比較はif a==0のように2つつける

正しい成人

In [0]:
age = 12 
if age >=20:
  print ("20歳以上")
elif age>=13:
  print ("13歳以上")
else:
  print ("12歳以下")

12歳以下

###5.1.4  比較演算子

###5.1.5 複数の比較

In [0]:
age = 23
gender = 'M'

#複数の条件は各々の条件をカッコで括る
if (age >=20) & (gender=='M'):
  print ('成人男性です')
elif (age>=20) & (gender=='F'):
  print ('成人女性')
else:
  print('未成年です')

成人男性です

##5.2. WHILE 構文* あまり私は使わない

###5.2.1 基本構文

In [0]:
#numが10で以下である場合はずっと回る
num = 0
while num <=10:
  print (num)
  num +=1

0
1
2
3
4
5
6
7
8
9
10

###5.2.2 BREAK

In [0]:
#特殊な条件まで回る
while True:
  #input関数は外部入力を受ける
  letter = input()
  if letter == 'Exit':
    break
  else:
    print ("終了するには「Exit」と入力してください")

www
終了するには「Exit」と入力してください
Exit

##5.3 FORによる反復

###5.3.1 リストを用いた繰り返し

In [0]:
#数値リスト作成
nums = [0,1,2,3,4,5,6,7,8,9]
for i in nums:
  print (i)

0
1
2
3
4
5
6
7
8
9

In [0]:
#文字列リストを作成
pref = ['東京都','神奈川県','埼玉県','千葉県']
for p in pref:
  print('pの値',p)

pの値 東京都
pの値 神奈川県
pの値 埼玉県
pの値 千葉県

In [0]:
#　文字列をforで処理すると１度に１字ずつ生成される。
word = 'おもてなし'
for letter in word:
  print(letter)

お
も
て
な
し

###5.3.2 辞書を用いた繰り返し

In [0]:
#辞書をforで処理するとキーが返される。
peech = {'Kanako':'red','Momoka':'green','Reni':'purple','Akari':'blue'}

for member in peech:  #またはfor member in peech .keys()
  print(member)
#少し前のももクロ。出典Wikipedia。

Kanako
Momoka
Reni
Akari

In [0]:
#値を反復処理したい場合
for value in peech.values():
  print(value)

red
green
purple
blue

In [0]:
#キーと値の両方をタプルの形で返す場合。
for item in peech.items():
  print(item)

('Kanako', 'red')
('Momoka', 'green')
('Reni', 'purple')
('Akari', 'blue')

In [0]:
#　items()が返す個々のタプルについて、第１の値（キー）をmember、第２の値（値）をcolorに代入する。
for member,color in peech.items():
  print('member',member,'has the color',color)

member Kanako has the color red
member Momoka has the color green
member Reni has the color purple
member Akari has the color blue

###5.3.3 ZIP()を使った複数のシーケンスの反復処理

In [0]:
#リスト作成
month=['10月','11月','12月']
month_old=['神無月','霜月','師走']
month_en=['October','November','December']

#3つ並列でループさせる。
for m1,m2,m3 in zip(month,month_old,month_en):
  print(m1,m2,m3)

10月 神無月 October
11月 霜月 November
12月 師走 December

###5.3.4 RANGE()によるループ

In [0]:
#数値リスト作成
nums = [0,1,2,3,4,5,6,7,8,9]
for i in nums:
  print (i)

0
1
2
3
4
5
6
7
8
9

In [0]:
#　rande()関数を使えば以下のように連続した整数のリストのような振る舞いができる。
print (range(0,10))
for x in range(0,10):
  print(x)
list(range(0,10))

range(0, 10)
0
1
2
3
4
5
6
7
8
9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
#range(start,end,stepby)
#2から-1まで1つずつ減らす
for x in range(2, -1, -1):
  print(x)

list(range(2,  -1, -1))

list(range(0, 11, 2))

2
1
0

[0, 2, 4, 6, 8, 10]